<script type="text/x-handlebars" data-template-name="application">
<h1>VGMix Ember Test {{#if showHomeLink}}<small>{{#linkTo index}}Home{{/linkTo}}</small>{{/if}}</h1>
{{ outlet }}
</script>

<script type="text/x-handlebars" data-template-name="index">
<p>Hey, there! You must be looking for:</p>
<ul class="index-list">
	<li>{{#linkTo songs}}Songs{{/linkTo}}</li>
	<li>{{#linkTo users}}Users{{/linkTo}}</li>
</ul>
</script>

<script type="text/x-handlebars" data-template-name="songs">
<p>All Songs:</p>
<ul class="songs-list">
	{{#each song in model}}
		<li>{{#linkTo song song}}{{ song.name }}{{/linkTo}}</li>
	{{/each}}
</ul>
<p>{{#linkTo index}}Back to Home{{/linkTo}}</p>
</script>

<script type="text/x-handlebars" data-template-name="song">
<h2>Song: {{ name }}</h2>
<h3>By {{#linkTo user user}}{{ user.name }}{{/linkTo}}</h3>
<p><a {{ bindAttr href="url" }} target="_blank">Download</a></p>
<p>{{#linkTo songs}}Back to Songs{{/linkTo}}</p>
</script>

<script type="text/x-handlebars" data-template-name="users">
<ul class="songs-list">
	{{#each user in model}}
		<li>{{#linkTo user user}}{{ user.name }}{{/linkTo}}</li>
	{{/each}}
</ul>
<p>{{#linkTo index}}Back to Home{{/linkTo}}</p>
</script>

<script type="text/x-handlebars" data-template-name="user">
<h2>User: {{ name }}</h2>
<p>Songs:</p>
<ul class="songs-list">
	{{#each song in songs}}
		<li>{{#linkTo song song}}{{ song.name }}{{/linkTo}}</li>
	{{/each}}
</ul>
<p>{{#linkTo users}}Back to Users{{/linkTo}}</p>
</script>