<script type="text/x-handlebars" data-template-name="application">
<h1>VGMix Ember Test</h1>
{{ outlet }}
</script>

<script type="text/x-handlebars" data-template-name="index">
<p>Hey, there! You must be looking for:</p>
<ul class="index-list">
	<li>{{#linkTo songs}}Songs{{/linkTo}}</li>
	<li>{{#linkTo users}}Users{{/linkTo}}</li>
</ul>
</script>

<script type="text/x-handlebars" data-template-name="songs">
<ul class="songs-list">
	{{#each song in model}}
		<li>{{#linkTo song song}}{{ song.name }}{{/linkTo}}</li>
	{{/each}}
</ul>
</script>

<script type="text/x-handlebars" data-template-name="song">
<h2>Song: {{ name }}</h2>
<h3>By {{ user.name }}</h3>
<p><a {{ bindAttr href="url" }} target="_blank">Download</a></p>
</script>